.grid-container{
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 100px auto 50px;
  grid-template-areas:
    "header header header"
    "nav    main   aside"
    "footer footer footer";

  gap: 10px;
  padding: 10px;
}

header{
  grid-area: header;
  background: #4CAF50;
  color: white;
  text-align: center;


}

nav{
  grid-area: nav;
  background: #2196F3;
  color: white;
  padding: 10px;
  text-align: center;
}

main{
  grid-area: main;
  background: #F44336;
  color: white;
  padding: 10px;
  text-align: center;
}

aside{
  grid-area: aside;
  background: #FFC107;
  color: white;
  padding: 10px;
  text-align: center;
}

footer{
  grid-area: footer;
  background: #9C27B0;
  color: white;
  text-align: center;

}
